{
    "listeners": {
        "*:8001": {
            "pass": "routes/laravel"
        }
    },

    "routes": {
        "laravel": [
            {
                "match": {
                    "uri": "!/index.php"
                },
                "action": {
                    "share": "/var/www/laravel1/blog/public/",
                    "fallback": {
                        "pass": "applications/laravel"
                    }
                }
            }
        ]
    },

    "applications": {
        "laravel": {
            "type": "php",
            "user": "www-data",
            "group": "www-data",
            "root": "/var/www/laravel1/blog/public/",
            "script": "index.php"
        }
    }
}
